html {
  background-color: #cbc7c4
}


.header {
  display: flex;
  margin: auto;
  width: 400px;

  @media  (min-width: 768px) {
    width: 600px;
    
  }

 
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #740001;
  width: 80vw;
  height: 200px;
  margin: auto;
  justify-content: center;
 

  @media  (min-width: 768px) {
    width: 800px;
    height: 400px;

    
  }
 

  &__name {
    color: white;
    margin-bottom: 15px;
   
  

    @media  (min-width: 768px) {
      margin-bottom: 35px;
  
      
    }

    &--label {
     font-size: 15px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     padding-right: 10px;

      @media  (min-width: 768px) {
      font-size: 20px;
      }
    }

  &--input {
    width: 220px;
    height: 20px;
    border: solid 1px #946b2d;
    border-radius: 2px;

    @media  (min-width: 768px) {
      width: 250px;
      height: 23px;
    }
  }

  }

  &__house {
    color: white;
    margin-bottom: 15px;

    @media  (min-width: 768px) {
      margin-bottom: 35px;
  
      
    }
   
    &--label {
      padding-right: 10px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 15px;

      @media  (min-width: 768px) {
      font-size: 20px;
      
      }
    
    }
    &--input {
      width: 210px;
      height: 20px;
      border: solid 1px white;
      border-radius: 2px;
      color: #946b2d;

      @media  (min-width: 768px) {
        width: 250px;
        height: 23px;
      }
    }

  }

  &__status {
    

    &--status {
      color: white;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin: 10px;
    }
  }
}

.resetButton {
  display: flex;
  font-size: 12px;
  margin: auto;
  transform: translateY(-35px);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #740001;
  font-weight: bold;
  border: solid 1px white;
  border-radius: 2px;
  background-color: white;
  

  @media  (min-width: 768px){
    transform: translateY(-80px);
    padding-top: 5px;
    height: 30px;
  }
  
}

.CharList {
  list-style: none;
  gap: 10px;

  @media  (min-width: 768px){
  width: 830px;
  margin: auto;
  margin-left: 250px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
  }
  
}

.charList__card {
  background-color: #946b2d;
  display: flex;
  flex-direction: column;
  align-content: center;
  
 &--name {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2px;
  

 }

 &--species {
  color: #740001;
  text-align: center;
  transform: translateY(-24px);
  font-size: 20px;
  margin-bottom: 1px;

 }
 
 &--img {
  width: 100vw;
  margin-left: 11px;
  
 
   @media  (min-width: 768px){
   width: 250px;
   height: 320px;
   }

 }

}

.charDetails {
  background-color: #740001;
  width: 770px;
  display: flex;
  margin: auto;
  

  &__info {
    color: white;
    margin-left: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;

    &--name {
      text-transform: uppercase;

    }


    &--status,
    &--species,
    &--gender {
      margin-bottom: -15px;
    }



  }
}
